/node_modules
/public/hot
/public/storage
/public/images
/public/css
/public/js
/storage/*.key
/vendor
/resources/js/env.ts
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
connectstring-acc.json
connectstring-prod.json
