@import "./general/reset";
@import "./general/variables";

@import "./components/PageHeader";
@import "./components/Video";
@import "./components/LoginForm";
@import "./components/FormField";
@import "./components/Button";
@import "./components/Image";
@import "./components/ContentBlock";
@import "./components/PartnerBlock";
@import "./components/AboutUsBlock";
@import "./components/Subtitle";
@import "./components/PageFooter";
@import "./components/Highlight";

body {
	background-color: $blue;
	font-family: $font-primary;
	overflow-x: hidden;
}

.Page {
	overflow-x: hidden;
}

.PageContent {
	min-height: calc(100vh - #{$header-height} - #{$footer-height});
	position: relative;
}
