.AboutUsBlock {
	> h2 {
		font-size: 42px;
		font-weight: bold;
	}

	.persons {
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
		.AboutUsPerson {
			margin: 0 16px 55px 0;
			position: relative;
			width: 280px;

			.header {
				height: 125px;
				width: 100%;
				position: relative;

				.header-bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						180deg,
						rgba($secondary, 0.8) 0%,
						rgba(255, 110, 56, 0) 100%
					);
					border-radius: 15px;
				}
			}

			.ImageWrapper {
				width: 180px;
				height: 180px;
				max-height: none;
				border-radius: 50%;
				overflow: hidden;
				margin: 0 auto;
				position: relative;
				top: -40px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: top;
				}
			}
			.name,
			.title {
				width: 100%;
				background-color: $tertiary;
				padding: 16px 0;
				font-size: 20px;
				line-height: 32px;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
			}
			.title {
				padding: 4px 0;
				font-size: 14px;
				font-style: italic;
				background-color: $secondary;
				border-radius: 0 0 15px 15px;
			}
		}
	}
}
