$cardMargin: 50px;

.card-wrapper {
	display: flex;
	justify-content: left;
	position: relative;
	margin: 80px 0;

	&.single {
		justify-content: center;

		.card {
			width: 1000px;
			max-width: 90vw;

			&:hover {
				transform: none;
			}

			.header {
				font-size: 28px;
			}
		}

		.NewsItemCard {
			cursor: initial;
			&:hover {
				transform: none;
			}

			.read-more {
				display: none;
			}
		}
	}

	.card {
		a {
			color: $secondary;
		}
	}

	&:last-child {
		padding-bottom: 350px;
	}

	&:nth-child(even) {
		justify-content: right;

		.card {
			.figure {
				top: -10%;
				right: 0%;
				left: auto;
				transform: rotate(125deg);
			}
		}
	}

	&:nth-child(even) {
		.NewsItemCard {
			.date {
				left: auto;
				right: 0;
				transform: translate(50%, -50%);
			}
		}
	}
}

.ProtocolCard,
.card {
	width: 650px;
	position: relative;
	cursor: pointer;
	transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);

	&:hover {
		transform: scale(1.05);
	}

	.figure {
		position: absolute;
		top: 0;
		left: -10%;
		width: 300px;
		height: 500px;
		transform: rotate(-55deg);
		background-color: $primary;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	.header {
		position: relative;
		width: 60%;
		padding: 20px;
		margin-left: 20%;
		background-color: $secondary;
		color: $white;
		font-size: 22px;
		text-align: center;
		z-index: 2;
		line-height: 26px;
	}

	.body {
		width: calc(100% - #{$cardMargin} - 50px);
		margin-left: $cardMargin;
		background-color: $grey-light;
		margin-top: -40px;
		padding: 60px 20px 40px;
		border-bottom: 8px solid $secondary;
		position: relative;
		line-height: 24px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.detail {
			text-align: center;	
			margin-top: 30px;
			label {
				font-weight: bold;
				margin-bottom: 5px;
				display: block;
			}
		}

		.content-wrapper {
			position: relative;

			.background {
				margin: -60px -20px 20px;
				position: relative;
				height: 300px;
				width: calc(100% + 40px);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.content {
				p {
					margin: 16px 0;
				}
			}
		}

		.summary-wrapper {
			&.with_image {
				.overlay {
					display: block;
				}
				.summary {
					color: $black;
				}
			}
			.summary {
				position: relative;
				z-index: 1;
			}
			.overlay {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($white, 0.5);
			}
		}

		.read-more {
			padding: 10px 30px 10px 20px;
			font-size: 18px;
			background-color: $secondary;
			color: $white;
			position: absolute;
			bottom: -25px;
			right: -15px;

			.arrow {
				width: 20px;
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translate(50%, -50%);
				transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
			}
		}
	}

	&:hover {
		.read-more {
			background-color: darken($secondary, 10);

			.arrow {
				transform: translate(70%, -50%);
			}
		}

		@include respond-to("xs") {
			.read-more {
				.arrow {
					transform: translate(50%, -50%);
				}
			}
		}
	}

	.date {
		position: absolute;
		width: 50px;
		height: 50px;
		text-transform: uppercase;
		background-color: $secondary;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: $white;
	}

	@include respond-to("xs") {
		.body {
			width: 90%;
			left: auto;
			margin-left: 5%;

			.date {
				width: 50px;
				height: 50px;
				font-size: 12px;
				line-height: 14px;
				top: auto;
				bottom: -50px;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.figure {
			display: none;
		}
	}
}

.NewsItemCard {
	.date {
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);
		width: 70px;
		height: 70px;
		font-size: 16px;
		line-height: 18px;
	}
}

.ProtocolCard {
	.footer {
		position: relative;
		width: calc(100% - #{$cardMargin} - #{$cardMargin});
		margin-left: $cardMargin;

		.date {
			top: -100%;
		}

		.start-date {
			left: 0;
			transform: translate(-50%, 10%);
		}

		.end-date {
			right: 0;
			transform: translate(50%, 10%);
		}

		.status {
			background-color: rgba($grey-medium, 0.75);
			color: $white;
			text-align: center;
			padding: 10px 20px;
		}
	}
}
