.ContentBlock {
	position: relative;
	padding: 100px 50px 150px;
	margin-bottom: 210px;
	background-color: white;
	z-index: 2;
	border-top: 10px $secondary solid;

	&:nth-child(even) {
		margin-bottom: 260px;
		&:after {
			background: linear-gradient(
				to bottom right,
				$primary 0%,
				$primary 50%,
				$white 50%,
				$white 100%
			);
			transform: rotateX(180deg);
		}
	}

	&:after {
		width: 100%;
		height: 200px;
		background: linear-gradient(
			to bottom right,
			#fff 0%,
			#fff 50%,
			$primary 50%,
			$primary 100%
		);
		display: block;
		content: "";
		position: absolute;
		bottom: -199px;
		left: 0;
	}

	.content {
		max-width: 60%;
		margin: 0 auto;
		min-height: 500px;
		position: relative;

		line-height: 38px;
		font-size: 26px;

		h3:first-child {
			margin-bottom: 32px;
		}

		strong {
			font-weight: bold;
		}

		p {
			margin: 0 0 22px;
		}

		h3 {
			font-size: 30px;
			font-weight: bold;
		}

		ul {
			list-style: disc;
			margin: 20px 0 20px 40px;

			ul {
				list-style: circle;
			}
		}

		a {
			color: $secondary;
			font-weight: 500;
		}
	}

	@include respond-to("small") {
		.content {
			max-width: 80%;
		}
	}

	@include respond-to("xs") {
		padding: 30px 30px 50px;
		.content {
			max-width: 100%;
			font-size: 20px;
			line-height: 30px;
		}
	}
}
