.ContentBlock {
	position: relative;
	padding: 100px 50px 150px;
	margin-bottom: 210px;
	background-color: white;
	z-index: 2;
	border-top: 10px $secondary solid;

	&:after {
		width: 100%;
		height: 200px;
		background: linear-gradient(
			to bottom right,
			#fff 0%,
			#fff 50%,
			$primary 50%,
			$primary 100%
		);
		display: block;
		content: "";
		position: absolute;
		bottom: -199px;
		left: 0;
	}

	.content {
		max-width: 60%;
		margin: 0 auto;
		min-height: 500px;
		position: relative;

		line-height: 38px;
		font-size: 26px;

		ul {
			list-style: disc;
			margin: 20px 0 20px 40px;
		}

		a {
			color: $secondary;
			font-weight: 500;
		}
	}
}
