.ExpandableText {
	position: relative;
	left: 10px;

	.header {
		font-weight: bold;
		background-color: $tertiary;
		color: white;
		padding: 10px 20px;
		font-size: 16px;
		display: block;
		width: 100%;
		cursor: pointer;
	}

	.body {
		max-height: 0;
		transition: max-height 0.35s cubic-bezier(0, 0, 0.3, 1);
		overflow: hidden;
		margin: 10px 0;
		padding: 0 5px;
		font-size: 18px;
	}

	&.active {
		.body {
			max-height: 500px;
		}
	}

	.icon {
		position: absolute;
		top: 10px;
		left: -47px;
		padding: 5px;
		width: 35px;
		height: 35px;
		background-color: $tertiary;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		transition: transform 0.15s cubic-bezier(0, 0, 0.3, 1);

		&:hover {
			transform: scale(1.05);
		}

		img {
			width: 60%;
			height: 60%;
		}
		.ImageWrapper {
			top: 1px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	@include respond-to("xs") {
		.icon {
			display: none;
		}
	}
}
