.FormField {
	margin: 20px 0;

	&.with-sections {
		background-color: rgba($grey-medium, 0.3);
		border-radius: 5px;
		padding: 10px;

		&.child_field {
			margin: -22px 0 20px;
			padding-bottom: 20px;
			padding-top: 12px;
			border-radius: 0 0 5px 5px;
		}
	}

	> .description {
		margin: 12px 0;
		line-height: 20px;
		font-size: 16px;

		ul {
			list-style: disc;
			margin: 20px 0 20px 40px;

			ul {
				list-style: circle;
			}
		}
	}

	a {
		color: white;
	}

	> label {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 5px;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="date"],
	input[type="number"],
	textarea {
		background: #ffffff;
		font-family: $font-primary;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1);
		padding: 8px 16px;
		text-align: inherit;
		font-size: 20px;
		border-radius: 5px;
		width: 80%;

		&::placeholder {
			color: #ccc;
		}
	}

	textarea {
		transition: height 0.25s cubic-bezier(0, 0, 0.3, 1);
	}

	input[type="checkbox"] {
		width: 24px;
		height: 24px;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	input[type="number"] {
		max-width: 130px;
	}

	input[type="date"] {
		max-width: 280px;
	}

	input[type="checkbox"] + label {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
	}

	@include respond-to("xs") {
		margin: 12px 0;
		input {
			font-size: 20px;
			padding: 8px 16px;
		}
	}
}
