.LoginForm {
	position: relative;
	padding-bottom: 50px;

	h3 {
		text-transform: uppercase;
		color: white;
		font-size: 54px;
		text-align: center;
		padding: 24px 0;
	}

	form {
		width: 50%;
		margin: 0 auto;
		text-align: center;

		input {
			margin-bottom: 16px;
		}
	}

	.NewRegistration {
		position: absolute;
		bottom: 8px;
		right: 8px;
		width: 130px;

		p {
			font-size: 18px;
			color: white;
			display: inline-block;
			padding-bottom: 20px;
			line-height: 24px;
		}

		.ImageWrapper {
			width: 30px;
			display: inline-block;
			position: absolute;
			bottom: 10px;
			right: 24px;
		}

		&:after {
			content: "";
			background-color: white;
			position: absolute;
			bottom: 5px;
			left: 0;
			height: 2px;
			display: block;
			width: 100%;
		}
	}
}
