$send-message-height: 180px;
$triangle-size: 10px;

.MessagingContainer {
	position: fixed;
	top: calc($header-height + 10px);
	right: 0;
	height: calc(100vh - #{$header-height});
	width: 375px;
	background-color: #fff;
	z-index: 100;
	box-shadow: 0px 4px 4px rgba(179, 177, 177, 0.25);

	&.full_screen {
		position: relative;
		top: 0;
		width: 100%;
		max-width: 700px;
		min-height: 400px;
		max-height: calc(100vh - #{$header-height} - 200px);
		margin: 40px auto;
		background-color: $white;

		.header h2 {
			font-size: 40px;
		}

		.write-message {
			.button-wrapper {
				button {
					margin-top: 10px;
				}
			}
		}
	}

	.header {
		background-color: $tertiary;
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;

		h2 {
			text-transform: uppercase;
			padding: 5px;
		}

		span {
			padding: 5px;
			display: block;
			font-size: 30px;
			margin-top: -5px;
			cursor: pointer;

			&:hover {
				color: $secondary;
			}
		}
	}

	.messages {
		height: calc(100% - #{$send-message-height});
		background-color: $grey-light;
		padding: 10px;
		overflow-y: auto;

		.message {
			margin: 10px 0;
			.content {
				padding: 5px 15px;
				border-radius: 5px;
				background-color: white;
				display: inline-block;
				position: relative;

				&:after {
					position: absolute;
					top: 0;
					left: calc(-#{$triangle-size} / 2);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 10px 10px 0;
					border-color: transparent white transparent transparent;
					content: "";
				}
			}


			&.you {
				text-align: right;

				.content {
					background-color: $secondary;
					color: white;

					&:after {
						left: auto;
						right: calc(-#{$triangle-size} / 2);
						border-width: $triangle-size $triangle-size 0 0;
						border-color: $secondary transparent transparent transparent;
					}
				}
			}

			h3 {
				font-size: 14px;
				line-height: 20px;
				margin: 0;
			}
			.text {
				font-size: 14px;
				line-height: 16px;
			}
			.timestamp {
				font-size: 10px;
				text-align: right;
				line-height: 12px;
				margin-right: -10px;
				margin-top: 5px;
			}
		}
	}

	.write-message {
		background-color: $primary;
		height: $send-message-height;
		position: relative;

		textarea {
			height: 60%;
			margin: 10px 10px 0;
			border-radius: 0 0 10px 0;
			width: calc(100% - 20px);
			border: 1px solid rgba($secondary, 0.4);
			outline: none;
			padding: 10px;
			font-size: 16px;
			font-family: $font-primary;
		}

		.button-wrapper {
			text-align: right;
			margin-top: -5px;
			
			button {
				margin-right: 10px;
			}
		}

	}
}