.SponsorsBlock {
	margin: 2em 0;

	p {
		margin: 1em auto;
		color: white;
		font-size: 1.75em;
		line-height: 1.25em;
		max-width: 80%;
		text-align: center;
	}

	.sponsors {
		display: flex;
		justify-content: center;
		align-items: stretch;
		gap: 2em;

		@include respond-to("small") {
			flex-direction: column;
			align-items: center;
		}
	}

	.Sponsor {
		display: flex;
		align-items: center;
		max-height: 300px;
		padding: 30px;
		background-color: white;
		margin: 20px;
		cursor: pointer;
		transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);

		&:hover {
			transform: scale(1.1);
		}

		@include respond-to("small") {
			max-height: none;
			width: 80%;
			justify-content: center;
		}
	}
}

.PartnerBlock {
	.partners {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		margin: 50px auto;
		border-radius: 50%;
		background-color: $white;
		height: 775px;
		width: 875px;
		overflow: hidden;
		padding: 40px;
	}

	.Partner {
		display: inline-block;
		max-width: 135px;
		background-color: white;
		margin: 20px;
		cursor: pointer;
		transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);

		&:hover {
			transform: scale(1.1);
		}
	}

	@include respond-to("small") {
		.partners {
			padding: 30px;
		}
	}

	@include respond-to("xs") {
		.partners {
			max-width: 100%;
			height: 400px;

			.Partner {
				max-width: 65px;
				margin: 5px;
			}
		}
	}
}
