.PartnerBlock {
	.partners {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		max-width: 90%;
		margin: 50px auto;
		border-radius: 50%;
		background-color: $white;
		height: 775px;
		width: 875px;
		overflow: hidden;
		padding: 30px;
	}

	.Partner {
		display: inline-block;
		max-width: 175px;
		background-color: white;
		margin: 10px;
		cursor: pointer;
		transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);

		&:hover {
			transform: scale(1.1);
		}
	}
}
