$item-height: 42px;
.SelectField {
	min-height: $item-height;
	max-height: $item-height;
	position: relative;
	overflow: hidden;
	transition: max-height 0.25s cubic-bezier(0, 0, 0.3, 1);
	max-width: 400px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1);

	&.absolute {
		&.active {
			overflow: initial;
			z-index: 2;
		}

		.dropdown {
			position: absolute !important;
		}
	}

	&:not(.active) {
		.active-option {
			.SelectOption {
				border-bottom: 0;
			}
		}
	}

	&.active {
		max-height: 1000px;

		.active-option .ImageWrapper {
			transform: translateY(-40%) rotate(180deg);
		}
	}

	.active-option {
		position: relative;

		.ImageWrapper {
			width: 13px;
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
			pointer-events: none;

			img {
				height: 10px;
			}
		}

		&.with-value {
			.SelectOption span {
				font-weight: bold;
			}

			&:hover {
				.SelectOption {
					background-color: darken($primary, 2);
				}
			}
		}
	}

	.SelectOption {
		padding: 10px 40px 10px 15px;
		height: $item-height;
		background-color: $primary;
		border-bottom: 1px solid $grey-light;
		position: relative;
		display: flex;
		align-items: center;
		color: $white;

		span {
			margin-top: 3px;
			min-height: 18px;
			line-height: 14px;
			font-size: 16px;
			overflow-x: hidden;
			overflow-y: hidden;
			display: block;
		}

		.image-wrapper {
			position: absolute;
			top: 50%;
			right: 15px;
			width: 15px;
			transform: translateY(-50%);
		}

		&:hover {
			background-color: darken($primary, 2);
			color: white;
			cursor: pointer;
		}
	}

	.select-wrapper {
		position: relative;
	}

	.dropdown {
		position: relative;
		max-height: 200px;
		width: 100%;
		overflow-y: auto;
	}
}
