.SizeContainer {
	width: 360px;
	height: 360px;
	position: relative;
	margin: 40px 0;

	.VideoWrapper {
		padding-top: 56.25%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@include respond-to("medium") {
		width: 100%;
	}
}
