.YesNoField {
	display: flex;
	.choice {
		width: 70px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background-color: $primary;

		&.active {
			color: white;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
			&.yes {
				background-color: darken($primary, 20);
			}
			&.no {
				background-color: $danger-color;
			}
		}

		&:first-child {
			margin-right: 15px;
		}

		&:hover {
			background-color: $blue;
			color: white;
		}
	}
}
