html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.PageHeader {
  background-color: #fff;
  position: relative;
  padding: 24px;
}

.PageHeader .Navigation {
  display: flex;
  width: 1437px;
  max-width: 100%;
  position: relative;
}

.PageHeader .Copy {
  position: relative;
  text-align: center;
  max-width: 80%;
  margin: -40px auto 40px;
}

.PageHeader .Copy h1 {
  font-size: 70px;
  line-height: 92px;
}

.PageHeader .Copy h2 {
  font-size: 36px;
}

.PageHeader .Ellipse {
  width: 160vw;
  max-width: 160%;
  height: 1200px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-19%, 18%);
  background-color: white;
  border-radius: 50%;
}

.LogoWrapper {
  width: 200px;
  height: 180px;
  border-radius: 50%;
  background-color: #83b2ba;
  overflow: hidden;
}

.LogoWrapper:hover img {
  transform: scale(1.05);
}

.LogoWrapper img {
  width: 100%;
  height: 100%;
  transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
}

.Menu {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-top: 32px;
}

.Menu .MenuItem {
  display: block;
  position: relative;
  height: 30px;
}

.Menu .MenuItem a {
  color: #000000;
  text-decoration: none;
  font-size: 22px;
}

.Menu .MenuItem:hover:after {
  width: 120%;
  transform: translateX(-17.5%);
}

.Menu .MenuItem:after {
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background-color: #ff6e38;
  position: absolute;
  content: "";
  left: 10%;
  bottom: -5px;
  transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1), width 0.25s cubic-bezier(0, 0, 0.3, 1);
}

.VideoWrapper {
  position: relative;
  margin: 0 auto;
  height: 370px;
  width: 600px;
}

.VideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.LoginForm {
  background-color: #ff6e38;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 750px;
  max-width: 100%;
  margin: 75px auto;
  position: relative;
  padding-bottom: 50px;
}

.LoginForm h3 {
  text-transform: uppercase;
  color: white;
  font-size: 54px;
  text-align: center;
  padding: 24px 0;
}

.LoginForm .icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-60%, -65%);
  width: 150px;
}

.LoginForm .icon-wrapper .ImageWrapper {
  max-width: 100%;
  max-height: 100%;
}

.LoginForm .icon-wrapper .ImageWrapper img {
  width: 100%;
  height: 100%;
}

.LoginForm form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.LoginForm form input {
  margin-bottom: 16px;
}

.LoginForm .NewRegistration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 130px;
}

.LoginForm .NewRegistration p {
  font-size: 18px;
  color: white;
  display: inline-block;
  padding-bottom: 20px;
  line-height: 24px;
}

.LoginForm .NewRegistration .ImageWrapper {
  width: 30px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 24px;
}

.LoginForm .NewRegistration:after {
  content: "";
  background-color: white;
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 2px;
  display: block;
  width: 100%;
}

input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  text-align: center;
  font-size: 24px;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 16px 32px;
  font-size: 24px;
  background-color: #83b2ba;
  color: #fff;
  font-weight: 900;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ImageWrapper {
  max-width: 100%;
  max-height: 100%;
}

.ImageWrapper img {
  width: 100%;
  height: 100%;
}

.ContentBlock {
  position: relative;
  padding: 100px 50px 150px;
  margin-bottom: 210px;
  background-color: white;
  z-index: 2;
  border-top: 10px #ff6e38 solid;
}

.ContentBlock:after {
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #83b2ba 50%, #83b2ba 100%);
  display: block;
  content: "";
  position: absolute;
  bottom: -199px;
  left: 0;
}

.ContentBlock .content {
  max-width: 60%;
  margin: 0 auto;
  min-height: 500px;
  position: relative;
  line-height: 38px;
  font-size: 26px;
}

.ContentBlock .content ul {
  list-style: disc;
  margin: 20px 0 20px 40px;
}

.ContentBlock .content a {
  color: #ff6e38;
  font-weight: 500;
}

.PartnerBlock .partners {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 50%;
  margin: 50px auto;
  border-radius: 50%;
  background-color: #fff;
  height: 775px;
  width: 875px;
  overflow: hidden;
  padding: 30px;
}

.PartnerBlock .Partner {
  display: inline-block;
  max-width: 175px;
  background-color: white;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
}

.PartnerBlock .Partner:hover {
  transform: scale(1.1);
}

.Subtitle {
  text-transform: uppercase;
  font-size: 72px;
  position: relative;
  text-align: center;
}

.Subtitle h2 {
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 500;
}

.Subtitle h2:after {
  width: 120%;
  height: 15px;
  background-color: #ff6e38;
  position: absolute;
  content: "";
  left: -10%;
  bottom: -15px;
}

body {
  background-color: #83b2ba;
  font-family: "Source Sans Pro", serif;
  overflow-x: hidden;
}

.Page {
  overflow-x: hidden;
}

.PageContent {
  min-height: calc(100vh - 300px - 100px);
}

