.jodit {
	background-color: $white;
	color: black;

	ul {
		list-style: disc;
		margin: 20px 0 20px 40px;

		ul {
			list-style: circle;
		}
	}

	ol {
		list-style: decimal;
	}

	button {
		filter: none;
		color: black;
		font-weight: normal;
	}

	ul,
	ol {
		margin-left: 1em;
		padding-left: 20px;
	}

	.jodit-status-bar-link {
		display: none;
	}
}
