.Sidebar {
	background-color: $primary;
	width: 180px;
	min-height: 100vh;

	.AdminMenu {
		.MenuItem {
			width: 100%;
			height: 120px;
			margin-bottom: 1px;
			display: block;

			a {
				text-decoration: none;
				color: $white;
				font-size: 26px;
				font-weight: bold;
				background-color: $secondary;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				cursor: pointer;

				&.active,
				&:hover {
					background-color: $tertiary;
				}
			}
		}
	}
}
