.Stats {
	width: 500px;
	.stat {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 16px 0;

		label {
			margin-bottom: 0;
			font-size: 30px;
			font-weight: bold;
		}
	}

	.counts-per-month {
		max-width: 200px;
		.stat {
			margin: 0;
			padding: 2px 20px;
			&:nth-child(odd) {
				background-color: rgba(#c4c4c4, 0.6);
			}
			&:nth-child(even) {
				background-color: rgba($secondary, 0.4);
			}

			label {
				min-width: 150px;
			}

			label,
			span {
				font-size: 16px;
			}
		}
	}
}
